{% extends "layout.html" %}

{% block title %}
    Book Review
{% endblock %}

{% block contents %}
<!-- main -->
<main id="main" class="site-main main mt-5">
    <div class="container mr-auto">
	   <h5 class="theme-cards__title">List of books</h5>
       <p class="text-gray-soft">Select the book you want to review</p>
    </div>
    <div class="container">
        <div class="theme-cards-holder">
            <div class="row">
{% for book in books %}
<div class="col-md-4 col-sm-6 mt-3 " >           
			<div class="theme-card list-group-item mr-1" style="background-color:#f1f1f1;">
				<a href="{{ url_for('book', book_id=book.isbn) }}">
					<h4 class="list-group-item-heading">{{ book.title}}</h4>
					<p class="list-group-item-text">{{ book.author}}</p>
					<p class="list-group-item-text">{{ book.year}}</p>
				</a>
			</div>
</div>
 {% endfor %}                  
        </div>
    </div>
</row>
 </main>
{% endblock %}
